
.album-box {
    display: inline-block;
    margin: 20px;
    background-color: #262626;
    box-shadow: 0px 4px 10px 6px rgba(0, 0, 0, 0.2);
}

.album-box .album-item img {
        width: 100%;
    }

.album-box .album-item h3 {
    margin: 10px 0;
}

@media (max-width: 768px) {
    
}