
.album-box {
    display: inline-block;
    margin: 20px;
    background-color: #1d1d1d;
    box-shadow: 0px 4px 15px 8px rgba(7, 7, 7, 0.2);
}

.album-box .album-item img {
        width: 100%;
    }

.album-box .album-item h3 {
    margin: 10px 0;
}

@media (max-width: 768px) {
    
}