form {
    text-align: left;
}

form fieldset {
    padding: 10px;
    border-radius: 5px;
}

.form-elem {
    padding: 5px;
    margin-top: 20px;
}

.form-elem p {
    padding: 2px;
}

.form-elem label {
    font-weight: bold;
    text-decoration: underline;
    color: rgb(207, 64, 92);
}

.form-elem .option-label {
    text-decoration: none;
}

.form-elem input[type="email"],
.form-elem input[type="text"],
.form-elem input[type="password"],
.form-elem input[type="file"] {
    background: none;
    color: #f1f1f1;
    min-width: 30%;
    max-width: 100%;
    padding: 2px;
    border: none;
    border-bottom: 1px solid gray;
    margin-top: 10px;
}

.form-elem input[type="file"] {
    border: none;
}

.form-elem input[type="submit"] {
    padding: 10px;
    min-width: 250px;
    background-color: rgb(139, 29, 103);
    border: none;
    border-radius: 10px;
    color: #f1f1f1;
}

.form-elem input[type="submit"]:hover { 
    background-color: rgb(100, 19, 73);
    cursor: pointer;
}

.form-elem textarea {
    background: none;
    color: #f1f1f1;
    min-width: 50%;
    max-width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
    margin-top: 10px;
    resize: vertical;
}